/* You can add global styles to this file, and also import other style files */
@import './assets/styles/_variables.scss';
@import './assets/styles/typography';
@import './assets/styles/components';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $slate-light;
}
